*.class

# Package Files #
*.jar
*.war
*.ear
/GUI Utils/nbproject/private/
/GUI Utils/dist/
/GUI Utils/build/
Example4NetBeansGUI/BurpExtender/nbproject/private/*
Example4NetBeansGUI/BurpExtender/dist/*
Example4NetBeansGUI/BurpExtender/build/*